.page-titles {
    text-align: center;
    font-size: 64px;
    font-family: "Brush Script MT",cursive;
    background-color: aqua;
}

.proportion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
}

.sub-titles {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: black;
    background-color: gold;
    outline: auto;
}